body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #C2975F;
    color: #2b2839;
}

.border-utility{
    border-bottom: 5px solid #4A350F;
}

